.spree-flat-input {
  color: theme-color("secondary");
  transition: basic-transition(border-color);
  padding: 15px;
  width: 100%;
  height: auto;
  border-width: 1px;
  border-style: solid;
  border-color: $second-global-border;
  border-radius: 0;
  outline: none;
  font-size: font-px-to-rem(12px);
  line-height: inherit;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  @include media-breakpoint-up(sm) {
    padding: 25px;
    font-size: font-px-to-rem(23px);
  }
  @include media-breakpoint-up(lg) {
    padding: 20px;
    font-size: font-px-to-rem(14px);
  }
  &:focus {
    border-color: theme-color("secondary");
  }
  &::placeholder {
    text-transform: uppercase;
  }
}

.spree-flat-select {
  @extend .spree-flat-input;
  appearance: none;
  padding-top:22px;
  padding-bottom:21px;
  -webkit-appearance: none;
  -moz-appearance: none;
  &-arrow ss-arrow {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    @include media-breakpoint-up(sm) {
      right: 23px;
    }
    @include media-breakpoint-up(lg) {
      right: 20px;
    }
  }
}

.field_with_errors {
  input{
    border-color: $danger;
  }
}

.spree-flat-label {
  color: theme-color("secondary");
  text-transform: uppercase;
  font-size: font-px-to-rem(12px);

  @include media-breakpoint-up(sm) {
    font-size: font-px-to-rem(17px);
  }
}

.spree-checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.spree-checkbox {
  position: relative;
  height: 22px;
  display: block;
  float: left;
  width: 22px;
  margin-right: 0.5rem;

  @include media-breakpoint-up(sm) {
    width: 32px;
    height: 32px;
  }

  @include media-breakpoint-up(lg) {
    width: 22px;
    height: 22px;
  }

  input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  label {
    transition: basic-transition(background-color);
    position: absolute;
    width: 22px;
    height: 22px;
    font-size: 0;
    border-radius: 0;
    border: 2px solid theme-color("secondary");
    background-color: $input-background;
    cursor: pointer;

    @include media-breakpoint-up(sm) {
      width: 32px;
      height: 32px;
    }

    @include media-breakpoint-up(lg) {
      width: 22px;
      height: 22px;
    }
  }

  label:after {
    transition: basic-transition(opacity);
    opacity: 0;
    content: "";
    position: absolute;
    width: 12px;
    height: 8px;
    background: transparent;
    top: 4px;
    left: 3px;
    border: 3px solid white;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);

    @include media-breakpoint-up(sm) {
      width: 15px;
      height: 10px;
      top: 6px;
      left: 6px;
    }

    @include media-breakpoint-up(lg) {
      width: 12px;
      height: 8px;
      top: 4px;
      left: 3px;
    }
  }

  input[type="checkbox"]:focus + label {
    border-color: $primary-color;
  }

  input[type="checkbox"]:checked + label {
    background-color: theme-color("secondary");

    &:after {
      opacity: 1;
    }
  }

  @include media-breakpoint-up(lg) {
    height: 28px;
    width: 28px;

    label {
      height: 28px;
      width: 28px;
    }

    label:after {
      width: 14px;
      height: 9px;
      top: 6px;
      left: 5px;
    }
  }
}

.spree-checkbox-label {
  color: theme-color("info");
  font-size: font-px-to-rem(12px);
  margin: 0;
  // Autoprefixer don't seem to catch this
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;

  @include media-breakpoint-up(sm) {
    font-size: font-px-to-rem(21px);
  }

  @include media-breakpoint-up(lg) {
    font-size: font-px-to-rem(16px);
  }
}

.spree-btn {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: font-px-to-rem(14px);
  font-weight: bold;

  &.btn-primary {
    font-size: font-px-to-rem(17px);
  }

  &.btn-outline-primary {
    border-width: 2px;
  }

  @include media-breakpoint-up(sm) {
    padding-top: 14px;
    padding-bottom: 14px;

    &.btn-primary {
      font-size: font-px-to-rem(28px);
    }

    &.btn-outline-primary {
      font-size: font-px-to-rem(28px);
    }
  }

  @include media-breakpoint-up(lg) {
    padding-top: 6px;
    padding-bottom: 6px;

    &.btn-primary {
      font-size: font-px-to-rem(20px);
    }

    &.btn-outline-primary {
      font-size: font-px-to-rem(20px);
    }
  }
}

.spree-radio-label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  @include media-breakpoint-up(sm) {
    padding-left: 55px;
  }
  @include media-breakpoint-up(lg) {
    padding-left: 52px;
  }
  input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    &:focus + span {
      border-radius: 50%;
      border: 2px solid $primary-color;
    }
  }
  &-custom-input {
    @include colored-circle-radio($secondary-color);
    position: absolute;
    top: 2px;
    left: 0;
    width: 18px;
    height: 18px;
    background-size: contain;
    @include media-breakpoint-up(sm) {
      width: 32px;
      height: 32px;
    }
    @include media-breakpoint-up(lg) {
      width: 27px;
      height: 27px;
    }
  }
  input:checked ~ &-custom-input {
    @include colored-full-circle-radio($secondary-color);
    background-size: contain;
  }
}

//Slide in labels
@mixin float-label-container {
  display: block;
  position: relative;
}

@mixin float-label {
  label {
    position: absolute;
    left: 1em;
    top: -0.5em;
    cursor: text;
    opacity: 1;
    background: $input-background;
    padding: 0 4px;
    transition: all .2s;
    @content;
    &.state-select-label{
      opacity: 1 !important;
      left:1em !important;
    }
  }
}

@mixin float-label-input {
  &::placeholder {
    opacity: 0;
    color: $secondary-font-color;
    transition: all .2s;
  }
  &:placeholder-shown:not(:focus)::placeholder {
    opacity: 0.3;
    transition: all .2s;
  }
}

@mixin float-label-scaled {
  &:placeholder-shown:not(:focus) + * {
    @content;
  }
}

.has-float-label {
  @include float-label-container;
  @include float-label;

  input, textarea {
    @include float-label-input;
    @include float-label-scaled {
      opacity: 0;
      left: 0em;
    }
  }
  .form-control:focus {
    box-shadow: none;
  }
}

:root{--ss-primary-color: #5897fb;
  --ss-bg-color: #ffffff;
  --ss-font-color: #4d4d4d;
  --ss-font-placeholder-color: #8d8d8d;
  --ss-disabled-color: #dcdee2;
  --ss-border-color: #dcdee2;
  --ss-highlight-color: #fffb8c;
  --ss-success-color: #00b755;
  --ss-error-color: #dc3545;
  --ss-focus-color: #4c4c4c;
  --ss-main-height: 60px;
  --ss-content-height: 300px;
  --ss-spacing-l: 7px;
  --ss-spacing-m: 10px;
  --ss-spacing-s: 20px;
  --ss-animation-timing: 0.2s;
  --ss-border-radius: 0px}

@keyframes ss-valueIn{0%{transform:scale(0);opacity:0}100%{transform:scale(1);opacity:1}}
@keyframes ss-valueOut{0%{transform:scale(1);opacity:1}100%{transform:scale(0);opacity:0}}
.ss-hide{display:none !important}
.ss-single {
  font-size: 16px;
}
.ss-main{
  @extend .spree-flat-select;
  display:flex;
  font-weight: 100;
}
.ss-main:focus {
  border-color: #4c4c4c;
}
.ss-main.ss-disabled{background-color:var(--ss-disabled-color);cursor:not-allowed}.ss-main.ss-disabled .ss-values .ss-disabled{color:var(--ss-font-color)}.ss-main.ss-disabled .ss-values .ss-value .ss-value-delete{cursor:not-allowed}.ss-main.ss-open-above{border-top-left-radius:0px;border-top-right-radius:0px}.ss-main.ss-open-below{border-bottom-left-radius:0px;border-bottom-right-radius:0px}
.ss-main .ss-values{
  display:inline-flex;
  flex-wrap:wrap;
  //gap:var(--ss-spacing-m);
  flex:1 1 100%
}
.ss-main .ss-values .ss-placeholder{
  display:flex;
  //padding:var(--ss-spacing-s) var(--ss-spacing-m) var(--ss-spacing-s) var(--ss-spacing-m);
  margin:auto 0px auto 0px;
  line-height:inherit;
  align-items:center;
  width:100%;
  color:var(--ss-font-placeholder-color);
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  text-transform: uppercase;
}
//.ss-main .ss-values .ss-max{
//  display:flex;
//  user-select:none;
//  align-items:center;
//  width:fit-content;
//  font-size:12px;
//  color: var(--ss-bg-color);
//  line-height:1;
//  padding:var(--ss-spacing-s) var(--ss-spacing-m);
//  background-color:var(--ss-primary-color);
//  border-radius:var(--ss-border-radius)
//}
.ss-main .ss-values .ss-single{
  display:flex;
  margin:auto 0px auto 0;
}
.ss-main .ss-values .ss-value{
  //display:flex;
  //user-select:none;
  //align-items:center;
  //width:fit-content;
  //background-color:var(--ss-primary-color);
  //border-radius:var(--ss-border-radius);
  //animation-name:ss-valueIn;
  //animation-duration:var(--ss-animation-timing);
  //animation-timing-function:ease-out;
  //animation-fill-mode:both
}.ss-main .ss-values .ss-value.ss-value-out{
   animation-name:ss-valueOut;
   animation-duration:var(--ss-animation-timing);
   animation-timing-function:ease-out
 }
.ss-main .ss-values .ss-value .ss-value-text{
  //font-size:20px;color:var(--ss-bg-color);line-height:1;padding:var(--ss-spacing-s) var(--ss-spacing-m)
}
.ss-main .ss-values .ss-value .ss-value-delete{
  //display:flex;
  //align-items:center;
  //height:var(--ss-spacing-l);
  //width:var(--ss-spacing-l);
  //padding:var(--ss-spacing-s) var(--ss-spacing-m);
  //cursor:pointer;
  //border-left:solid 1px var(--ss-bg-color);
  //box-sizing:content-box
}
.ss-main .ss-values .ss-value .ss-value-delete svg{
  //height:var(--ss-spacing-l);
  //width:var(--ss-spacing-l)
}
.ss-main .ss-values .ss-value .ss-value-delete svg path{
  fill:none;
  stroke:var(--ss-bg-color);
  stroke-width:18;
  stroke-linecap:round;
  stroke-linejoin:round}
.ss-main .ss-deselect{flex:0 1 auto;display:flex;align-items:center;justify-content:center;width:fit-content;height:auto;margin:0 var(--ss-spacing-m) 0 var(--ss-spacing-m)}.ss-main .ss-deselect svg{width:8px;height:8px}.ss-main .ss-deselect svg path{fill:none;stroke:var(--ss-font-color);stroke-width:20;stroke-linecap:round;stroke-linejoin:round}.ss-main .ss-arrow{flex:0 1 auto;display:flex;align-items:center;justify-content:flex-end;width:12px;height:12px;margin:auto var(--ss-spacing-m) auto var(--ss-spacing-m)}.ss-main .ss-arrow path{fill:none;stroke:var(--ss-font-color);stroke-width:18;stroke-linecap:round;stroke-linejoin:round;transition-timing-function:ease-out;transition:var(--ss-animation-timing)}.ss-content{position:absolute;display:flex;height:auto;flex-direction:column;width:auto;max-height:var(--ss-content-height);box-sizing:border-box;border:solid 1px var(--ss-border-color);background-color:var(--ss-bg-color);transition:transform var(--ss-animation-timing),opacity var(--ss-animation-timing);opacity:0;transform:scaleY(0);transform-origin:center top;overflow:hidden;z-index:10000}.ss-content.ss-relative{position:relative;height:100%}.ss-content.ss-open-above{flex-direction:column-reverse;opacity:1;transform:scaleY(1);transform-origin:center bottom;border-top-left-radius:var(--ss-border-radius);border-top-right-radius:var(--ss-border-radius)}.ss-content.ss-open-below{opacity:1;transform:scaleY(1);transform-origin:center top;border-bottom-left-radius:var(--ss-border-radius);border-bottom-right-radius:var(--ss-border-radius)}.ss-content .ss-search{flex:0 1 auto;display:flex;flex-direction:row;padding:var(--ss-spacing-l) var(--ss-spacing-l) var(--ss-spacing-m) var(--ss-spacing-l)}.ss-content .ss-search input{display:inline-flex;font-size:inherit;line-height:inherit;flex:1 1 auto;width:100%;min-width:0px;padding:var(--ss-spacing-m) var(--ss-spacing-l);margin:0;border:1px solid var(--ss-border-color);border-radius:var(--ss-border-radius);background-color:var(--ss-bg-color);outline:0;text-align:left;box-sizing:border-box}.ss-content .ss-search input::placeholder{color:var(--ss-font-placeholder-color);vertical-align:middle}
.ss-content .ss-search input:focus{
  border-color: #4c4c4c;
}
.ss-content .ss-search .ss-addable{
  display:inline-flex;
  justify-content:center;
  align-items:center;
  cursor:pointer;
  flex:0 0 auto;
  height:auto;
  margin:0 0 0 var(--ss-spacing-m);
  border:1px solid var(--ss-border-color);
  border-radius:var(--ss-border-radius)
}
.ss-content .ss-search .ss-addable svg{display:flex;align-items:center;justify-content:flex-end;flex:0 1 auto;width:12px;height:12px;margin:auto var(--ss-spacing-m) auto var(--ss-spacing-m)}.ss-content .ss-search .ss-addable svg path{fill:none;stroke:var(--ss-font-color);stroke-width:18;stroke-linecap:round;stroke-linejoin:round}.ss-content .ss-list{flex:1 1 auto;height:auto;overflow-x:hidden;overflow-y:auto}.ss-content .ss-list .ss-error{color:var(--ss-error-color);padding:var(--ss-spacing-l)}.ss-content .ss-list .ss-searching{color:var(--ss-font-color);padding:var(--ss-spacing-l)}.ss-content .ss-list .ss-optgroup.ss-close .ss-option{display:none !important}.ss-content .ss-list .ss-optgroup .ss-optgroup-label{display:flex;flex-direction:row;align-items:center;justify-content:space-between;padding:var(--ss-spacing-m) var(--ss-spacing-l) var(--ss-spacing-m) var(--ss-spacing-l)}
.ss-content .ss-list .ss-optgroup .ss-optgroup-label .ss-optgroup-label-text{
  flex:1 1 auto;
  //font-weight:bold;
  color:var(--ss-font-color)}
.ss-content .ss-list .ss-optgroup .ss-optgroup-label:has(.ss-arrow){cursor:pointer}.ss-content .ss-list .ss-optgroup .ss-optgroup-label .ss-optgroup-actions{flex:0 1 auto;display:flex;flex-direction:row;align-items:center;justify-content:center;gap:var(--ss-spacing-m)}.ss-content .ss-list .ss-optgroup .ss-optgroup-label .ss-optgroup-actions .ss-selectall{flex:0 0 auto;display:flex;flex-direction:row;cursor:pointer}.ss-content .ss-list .ss-optgroup .ss-optgroup-label .ss-optgroup-actions .ss-selectall:hover{opacity:.5}.ss-content .ss-list .ss-optgroup .ss-optgroup-label .ss-optgroup-actions .ss-selectall.ss-selected svg path{stroke:var(--ss-error-color)}.ss-content .ss-list .ss-optgroup .ss-optgroup-label .ss-optgroup-actions .ss-selectall span{flex:0 1 auto;display:flex;align-items:center;justify-content:center;font-size:60%;text-align:center;padding:0 var(--ss-spacing-s) 0 0}.ss-content .ss-list .ss-optgroup .ss-optgroup-label .ss-optgroup-actions .ss-selectall svg{flex:0 1 auto;width:13px;height:13px}.ss-content .ss-list .ss-optgroup .ss-optgroup-label .ss-optgroup-actions .ss-selectall svg path{fill:none;stroke:var(--ss-success-color);stroke-linecap:round;stroke-linejoin:round}.ss-content .ss-list .ss-optgroup .ss-optgroup-label .ss-optgroup-actions .ss-selectall svg:first-child{stroke-width:5}.ss-content .ss-list .ss-optgroup .ss-optgroup-label .ss-optgroup-actions .ss-selectall svg:last-child{stroke-width:11}.ss-content .ss-list .ss-optgroup .ss-optgroup-label .ss-optgroup-actions .ss-closable{flex:0 1 auto;display:flex;flex-direction:row;cursor:pointer}.ss-content .ss-list .ss-optgroup .ss-optgroup-label .ss-optgroup-actions .ss-closable .ss-arrow{flex:1 1 auto;width:10px;height:10px}.ss-content .ss-list .ss-optgroup .ss-optgroup-label .ss-optgroup-actions .ss-closable .ss-arrow path{fill:none;stroke:var(--ss-font-color);stroke-width:18;stroke-linecap:round;stroke-linejoin:round;transition-timing-function:ease-out;transition:var(--ss-animation-timing)}.ss-content .ss-list .ss-optgroup .ss-option{padding:var(--ss-spacing-s) var(--ss-spacing-s) var(--ss-spacing-s) calc(var(--ss-spacing-l)*3)}.ss-content .ss-list .ss-option{display:flex;padding:var(--ss-spacing-m) var(--ss-spacing-l) var(--ss-spacing-m) var(--ss-spacing-l);color:var(--ss-font-color);cursor:pointer;user-select:none}.ss-content .ss-list .ss-option:hover{color:var(--ss-bg-color);background-color:var(--ss-primary-color)}.ss-content .ss-list .ss-option.ss-highlighted,.ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected{color:var(--ss-bg-color);background-color:var(--ss-primary-color)}.ss-content .ss-list .ss-option.ss-disabled{cursor:not-allowed;background-color:var(--ss-disabled-color)}.ss-content .ss-list .ss-option.ss-disabled:hover{color:var(--ss-font-color)}.ss-content .ss-list .ss-option .ss-search-highlight{background-color:var(--ss-highlight-color)}/*# sourceMappingURL=slimselect.css.map */
